.sidebar{
    position: fixed;
    top: 20%;
    left: 0%;
    -webkit-transition: all 0.8s;
	transition: all 0.8s;
    background-color: aqua;
}

.bars{
    position: fixed;
    top: 1%;
    left: 0%;
}